.coaster-card {
  border: 1px solid rgba(128, 128, 128, .2);
  margin-bottom: 20px;
  color: white;
  background-color: rgb(255, 254, 254, .11);
  margin:0px 100px;
 
}

.coaster-card img {
  width: 100%;
  height: 100%;
  margin:0;
  object-fit: cover;
}

.coaster-card h3 {
  margin-top: 30px;
  margin-left: 30px;
  
}

.coaster-card h4, .coaster-card p {
  margin-left: 15px;
  margin-right: 15px;
}

.coaster-card p {
  font-size: 1.2em;
  color:rgb(166, 166, 253);
  margin-top: 20px;
  margin-left: 30px;
}


.notice a{
  text-decoration: none;
}

