.game-card {
  border: 1px solid rgb(7, 7, 7);
  background-color: black;
  margin:30px 40px;
  padding:0;
  color:white;
}

.game-card h4{
  color:white;
  font-weight: 500;
}

p{
  color:white;
}

.game-card img{
  width: 100%;
  margin:0;
  padding: 0;
  object-fit: cover;
}

hr{
  border: .3px inset rgba(248, 248, 252, .3)
}

.coment{
  border: 1px solid rgb(27, 26, 26);
  padding: 5px;
  order-radius: 3px;
  background: rgb(27, 26, 26);
  bckground: white;
  clor:black;
}

.espacio{
  padding: 30px;
}

.game-card a {
  text-decoration: none;
}