.ncomen{
  border: 1px rgba(43, 47, 61, .25) solid;
  border-radius: 5px;
  margin:  60px 20px;
  padding: 30px 20px;
  background-color: rgba(255, 251, 251, 1);
  color: black;
}

.ncomen p{
  margin-left: 20px;
  color:black;
}

.ncomen h6{
  color: blue;
  margin-left: 20px;
  margin-bottom: 30px;
}